In [1]:
# Pandas DataFrame basics

## What is data frame ?
DataFrame is the heart of pandas library. It can be conceived as a table in any RDBMS or a spreadsheet having rows and columns used to represent tabular data.

## Sample temperature data set to be used in the example
![Temperature Data Set to be used in this example](images/temperature.jpg "Temperature DataSet")

In [2]:
#importing pandas library and creating a data set from a csv file
import pandas as pd
temp_df = pd.read_csv('temperature.csv', sep = ';')
temp_df

# the dataframe prints the first 5 and last 5 observation

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-06,50.0,71.1,0.13,0.0,0.0,8.05,230.0,17.90,230.0,...,No,No,No,No,No,No,No,No,No,No
1,2007-01-14,50.0,73.9,0.00,0.0,0.0,8.50,230.0,21.03,230.0,...,No,No,No,No,No,No,No,No,No,No
2,2007-01-20,26.1,48.0,0.00,0.0,0.0,4.92,290.0,16.11,320.0,...,No,No,No,No,No,No,No,No,No,No
3,2007-01-24,30.0,48.9,0.00,0.0,0.0,2.91,50.0,14.09,50.0,...,No,No,No,No,No,No,No,No,No,No
4,2007-01-30,24.1,48.9,0.00,0.0,0.0,5.82,220.0,17.90,220.0,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,2017-11-24,26.2,57.0,0.00,0.0,0.0,1.57,50.0,8.95,50.0,...,No,No,No,No,No,No,No,No,No,No
4697,2017-11-26,33.1,62.1,0.00,0.0,0.0,2.91,280.0,12.08,330.0,...,No,No,No,No,No,No,No,No,No,No
4698,2017-12-01,41.0,63.0,0.00,0.0,0.0,5.14,50.0,14.99,50.0,...,No,No,No,No,No,No,No,No,No,No
4699,2017-12-03,42.1,64.0,0.00,0.0,0.0,2.46,50.0,8.95,30.0,...,No,No,No,No,No,No,No,No,No,No
4700,2017-12-12,30.2,53.1,0.00,0.0,0.0,9.62,280.0,18.12,330.0,...,No,No,No,No,No,No,No,No,No,No

## The temperature data set stored in a RDBMS table
![Temperature Data Set to be used in this example stored in a RDBMS table](images/temperature_table.jpg "Temperature DataSet in a RDBMS table")

In [4]:
## shape is the dimension of the data frame (rows. x cols.)
temp_df.shape

(4701, 28)

In [5]:
rows, cols = temp_df.shape

print(f'The data frame has {rows} rows and {cols} columns'.format(rows,cols))

The data frame has 4701 rows and 28 columns

In [6]:
#head prints the first 5 observations in the data set
temp_df.head()

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-06,50.0,71.1,0.13,0.0,0.0,8.05,230.0,17.90,230.0,...,No,No,No,No,No,No,No,No,No,No
1,2007-01-14,50.0,73.9,0.00,0.0,0.0,8.50,230.0,21.03,230.0,...,No,No,No,No,No,No,No,No,No,No
2,2007-01-20,26.1,48.0,0.00,0.0,0.0,4.92,290.0,16.11,320.0,...,No,No,No,No,No,No,No,No,No,No
3,2007-01-24,30.0,48.9,0.00,0.0,0.0,2.91,50.0,14.09,50.0,...,No,No,No,No,No,No,No,No,No,No
4,2007-01-30,24.1,48.9,0.00,0.0,0.0,5.82,220.0,17.90,220.0,...,No,No,No,No,No,No,No,No,No,No

In [7]:
#tail prints the first 5 observations in the data set
temp_df.tail()

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
4696,2017-11-24,26.2,57.0,0.0,0.0,0.0,1.57,50.0,8.95,50.0,...,No,No,No,No,No,No,No,No,No,No
4697,2017-11-26,33.1,62.1,0.0,0.0,0.0,2.91,280.0,12.08,330.0,...,No,No,No,No,No,No,No,No,No,No
4698,2017-12-01,41.0,63.0,0.0,0.0,0.0,5.14,50.0,14.99,50.0,...,No,No,No,No,No,No,No,No,No,No
4699,2017-12-03,42.1,64.0,0.0,0.0,0.0,2.46,50.0,8.95,30.0,...,No,No,No,No,No,No,No,No,No,No
4700,2017-12-12,30.2,53.1,0.0,0.0,0.0,9.62,280.0,18.12,330.0,...,No,No,No,No,No,No,No,No,No,No

In [8]:
#To print specific number of rows from the top of the data set use head (<Num. of observation>)
temp_df.head(7)

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-06,50.0,71.1,0.13,0.0,0.0,8.05,230.0,17.90,230.0,...,No,No,No,No,No,No,No,No,No,No
1,2007-01-14,50.0,73.9,0.00,0.0,0.0,8.50,230.0,21.03,230.0,...,No,No,No,No,No,No,No,No,No,No
2,2007-01-20,26.1,48.0,0.00,0.0,0.0,4.92,290.0,16.11,320.0,...,No,No,No,No,No,No,No,No,No,No
3,2007-01-24,30.0,48.9,0.00,0.0,0.0,2.91,50.0,14.09,50.0,...,No,No,No,No,No,No,No,No,No,No
4,2007-01-30,24.1,48.9,0.00,0.0,0.0,5.82,220.0,17.90,220.0,...,No,No,No,No,No,No,No,No,No,No
5,2007-02-08,27.0,48.0,0.00,0.0,0.0,3.13,300.0,14.99,280.0,...,No,No,No,No,No,No,No,No,No,No
6,2007-02-12,26.1,64.0,0.00,0.0,0.0,4.03,220.0,19.91,220.0,...,No,No,No,No,No,No,No,No,No,No

In [9]:
#To print specific number of rows from the bottom of the data set use head (<Num. of observation>)
temp_df.tail(7)

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
4694,2017-11-09,45.0,50.0,0.27,0.0,0.0,4.03,40.0,12.08,30.0,...,No,No,No,No,No,No,No,No,No,No
4695,2017-11-23,29.1,50.0,0.00,0.0,0.0,2.68,70.0,8.95,110.0,...,No,No,No,No,No,No,No,No,No,No
4696,2017-11-24,26.2,57.0,0.00,0.0,0.0,1.57,50.0,8.95,50.0,...,No,No,No,No,No,No,No,No,No,No
4697,2017-11-26,33.1,62.1,0.00,0.0,0.0,2.91,280.0,12.08,330.0,...,No,No,No,No,No,No,No,No,No,No
4698,2017-12-01,41.0,63.0,0.00,0.0,0.0,5.14,50.0,14.99,50.0,...,No,No,No,No,No,No,No,No,No,No
4699,2017-12-03,42.1,64.0,0.00,0.0,0.0,2.46,50.0,8.95,30.0,...,No,No,No,No,No,No,No,No,No,No
4700,2017-12-12,30.2,53.1,0.00,0.0,0.0,9.62,280.0,18.12,330.0,...,No,No,No,No,No,No,No,No,No,No

In [10]:
#To print row number 2 to 4 user temp_df[2:5] , 5 is not inclusive
temp_df[2:5]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
2,2007-01-20,26.1,48.0,0.0,0.0,0.0,4.92,290.0,16.11,320.0,...,No,No,No,No,No,No,No,No,No,No
3,2007-01-24,30.0,48.9,0.0,0.0,0.0,2.91,50.0,14.09,50.0,...,No,No,No,No,No,No,No,No,No,No
4,2007-01-30,24.1,48.9,0.0,0.0,0.0,5.82,220.0,17.90,220.0,...,No,No,No,No,No,No,No,No,No,No

In [11]:
#To print a fthe entire data frame use temp_df or temp_df[:]
temp_df[:]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-06,50.0,71.1,0.13,0.0,0.0,8.05,230.0,17.90,230.0,...,No,No,No,No,No,No,No,No,No,No
1,2007-01-14,50.0,73.9,0.00,0.0,0.0,8.50,230.0,21.03,230.0,...,No,No,No,No,No,No,No,No,No,No
2,2007-01-20,26.1,48.0,0.00,0.0,0.0,4.92,290.0,16.11,320.0,...,No,No,No,No,No,No,No,No,No,No
3,2007-01-24,30.0,48.9,0.00,0.0,0.0,2.91,50.0,14.09,50.0,...,No,No,No,No,No,No,No,No,No,No
4,2007-01-30,24.1,48.9,0.00,0.0,0.0,5.82,220.0,17.90,220.0,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,2017-11-24,26.2,57.0,0.00,0.0,0.0,1.57,50.0,8.95,50.0,...,No,No,No,No,No,No,No,No,No,No
4697,2017-11-26,33.1,62.1,0.00,0.0,0.0,2.91,280.0,12.08,330.0,...,No,No,No,No,No,No,No,No,No,No
4698,2017-12-01,41.0,63.0,0.00,0.0,0.0,5.14,50.0,14.99,50.0,...,No,No,No,No,No,No,No,No,No,No
4699,2017-12-03,42.1,64.0,0.00,0.0,0.0,2.46,50.0,8.95,30.0,...,No,No,No,No,No,No,No,No,No,No
4700,2017-12-12,30.2,53.1,0.00,0.0,0.0,9.62,280.0,18.12,330.0,...,No,No,No,No,No,No,No,No,No,No

In [12]:
#To get the list of columns in the data set use temp_df.columns
temp_df.columns

Index(['date_recorded', 'temperaturemin', 'temperaturemax', 'precipitation',
       'snowfall', 'snowdepth', 'avgwindspeed', 'fastest2minwinddir',
       'fastest2minwindspeed', 'fastest5secwinddir', 'fastest5secwindspeed',
       'fog', 'fogheavy', 'mist', 'rain', 'fogground', 'ice', 'glaze',
       'drizzle', 'snow', 'freezingrain', 'smokehaze', 'thunder', 'highwind',
       'hail', 'blowingsnow', 'dust', 'freezingfog'],
      dtype='object')

## Which is equivalent of getting the columns in a table using the sample SQL in Oracle

*SELECT column_name FROM all_tab_columns where table_name = 'TEMPERATURE';*

## The temperature data set stored in a RDBMS table
![List of columns in a RDBMS table](images/column_list.jpg "List of columns in a RDBMS table")

In [13]:
#To print a particular column user temp_df.date_recorded or temp['date_recorded']
temp_df.date_recorded

0       2007-01-06
1       2007-01-14
2       2007-01-20
3       2007-01-24
4       2007-01-30
           ...
4696    2017-11-24
4697    2017-11-26
4698    2017-12-01
4699    2017-12-03
4700    2017-12-12
Name: date_recorded, Length: 4701, dtype: object

In [14]:
temp_df['date_recorded'] # The [ ] is used where the column name has any space

0       2007-01-06
1       2007-01-14
2       2007-01-20
3       2007-01-24
4       2007-01-30
           ...
4696    2017-11-24
4697    2017-11-26
4698    2017-12-01
4699    2017-12-03
4700    2017-12-12
Name: date_recorded, Length: 4701, dtype: object

In [ ]:
## Which is equivalent of getting the date_recorded columm from the table temperature using the following SQL in Oracle

*SELECT date_recorded FROM temperature;*

![Select a column from a RDBMS table](images/select_date_recorded.jpg "Select one column from a RDBMS table")

In [20]:
#To select more than one column from the data frame
temp_df[['date_recorded','temperaturemin','temperaturemax']]

     date_recorded  temperaturemin  temperaturemax
0       2007-01-06            50.0            71.1
1       2007-01-14            50.0            73.9
2       2007-01-20            26.1            48.0
3       2007-01-24            30.0            48.9
4       2007-01-30            24.1            48.9
...            ...             ...             ...
4696    2017-11-24            26.2            57.0
4697    2017-11-26            33.1            62.1
4698    2017-12-01            41.0            63.0
4699    2017-12-03            42.1            64.0
4700    2017-12-12            30.2            53.1

[4701 rows x 3 columns]

In [ ]:
## Which is equivalent of getting the date_recorded,temperaturemin,temperaturemax columms from the table temperature using the following SQL in Oracle

*SELECT date_recorded,temperaturemin,temperaturemax FROM temperature;*

![Select multiple columns from a RDBMS table](images/select_multiple_columns.jpg "Select multiple columns from a RDBMS table")

## Every column in a panda data frame is a panda series


![Pandas Series](images/pandas_series.png "Every column in a Pandas data frame is a Pandas series")

In [22]:
type(temp_df.date_recorded)

pandas.core.series.Series

In [23]:
type(temp_df['date_recorded'])

pandas.core.series.Series

In [24]:
# To get the maximum of minimum temperature temperature of the data frame
temp_df['temperaturemin'].max()

80.1

## Which is equivalent of getting the max temperaturemin from the table temperature using the following SQL in Oracle

*SELECT max(temperaturemin) FROM temperature;*

![SELECT max(temperaturemin) FROM temperature;](images/maximum_temperature.jpg "SELECT max(temperaturemin) FROM temperature;")

In [29]:
#Similarly we can get mean, median, modr, sum, std (standard deviation) of all the numeric columns
temp_df.mean()

temperaturemin           53.10
temperaturemax           75.00
precipitation             0.00
snowfall                  0.00
snowdepth                 0.00
avgwindspeed              5.37
fastest2minwinddir      210.00
fastest2minwindspeed     14.99
fastest5secwinddir      210.00
fastest5secwindspeed     21.03
dtype: float64

In [30]:
temp_df.median()

temperaturemin           53.10
temperaturemax           75.00
precipitation             0.00
snowfall                  0.00
snowdepth                 0.00
avgwindspeed              5.37
fastest2minwinddir      210.00
fastest2minwindspeed     14.99
fastest5secwinddir      210.00
fastest5secwindspeed     21.03
dtype: float64

In [31]:
temp_df.mode()

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-01,70.0,88.0,0.0,0.0,0.0,5.82,230.0,12.97,230.0,...,No,No,No,No,No,No,No,No,No,No
1,2007-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,2019-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4697,2019-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4698,2019-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4699,2019-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4700,2019-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
temp_df.sum()

date_recorded           2007-01-062007-01-142007-01-202007-01-242007-0...
temperaturemin                                                     240547
temperaturemax                                                     340950
precipitation                                                      606.08
snowfall                                                            62.51
snowdepth                                                           79.38
avgwindspeed                                                      27507.1
fastest2minwinddir                                                 811090
fastest2minwindspeed                                              74940.1
fastest5secwinddir                                                 825880
fastest5secwindspeed                                               102100
fog                     YesNoNoYesNoNoNoNoNoNoNoNoYesNoYesYesNoNoYesYe...
fogheavy                NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYe...
mist                    YesNoNoNoNoNoNoNoNoNoNoNoNoNoYesYesNoNoYesYesY...
rain                    YesNoNoNoNoNoNoNoNoYesNoNoYesNoYesNoNoNoYesNoY...
fogground               NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
ice                     NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
glaze                   NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
drizzle                 NoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoN...
snow                    NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
freezingrain            NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
smokehaze               NoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoYesYesN...
thunder                 NoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoYesNo...
highwind                NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoN...
hail                    NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
blowingsnow             NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
dust                    NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
freezingfog             NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
dtype: object

In [35]:
#To get the statistics of the data frame
temp_df.describe() ## for all the numeric columns

,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,fastest5secwindspeed
count,4701.000000,4701.000000,4701.000000,4699.000000,4701.000000,4699.000000,4700.000000,4700.000000,4683.000000,4683.000000
mean,51.169219,72.527186,0.128926,0.013303,0.016886,5.853820,172.572340,15.944698,176.357036,21.802187
std,16.214743,16.506454,0.369842,0.211482,0.209244,2.930484,94.131711,5.234608,96.274085,7.063519
min,4.100000,23.200000,0.000000,0.000000,0.000000,0.000000,10.000000,4.920000,10.000000,6.930000
25%,37.000000,60.100000,0.000000,0.000000,0.000000,3.580000,80.000000,12.970000,90.000000,17.000000
50%,53.100000,75.000000,0.000000,0.000000,0.000000,5.370000,210.000000,14.990000,210.000000,21.030000
75%,66.000000,87.100000,0.050000,0.000000,0.000000,7.610000,240.000000,18.120000,240.000000,25.050000
max,80.100000,105.100000,6.450000,7.010000,5.910000,20.360000,360.000000,59.950000,360.000000,86.120000

In [42]:
#Conditionally selecting the data

#To get all the records of the data frame where teperaturemin is less than 8.0

temp_df[temp_df.temperaturemin < 8.0]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
808,2018-01-07,4.1,30.2,0.0,0.0,0.00,2.68,80.0,10.07,80.0,...,No,No,No,No,No,No,No,No,No,No
3056,2015-02-20,7.2,26.2,0.0,0.0,0.00,5.59,300.0,12.97,330.0,...,No,No,No,No,No,No,No,No,No,No
4559,2014-01-30,7.2,37.9,0.0,0.0,1.18,1.79,100.0,12.08,110.0,...,No,No,No,No,No,No,No,No,No,No

In [43]:
#Or equivalently 
temp_df[temp_df['temperaturemin'] < 8.0]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
808,2018-01-07,4.1,30.2,0.0,0.0,0.00,2.68,80.0,10.07,80.0,...,No,No,No,No,No,No,No,No,No,No
3056,2015-02-20,7.2,26.2,0.0,0.0,0.00,5.59,300.0,12.97,330.0,...,No,No,No,No,No,No,No,No,No,No
4559,2014-01-30,7.2,37.9,0.0,0.0,1.18,1.79,100.0,12.08,110.0,...,No,No,No,No,No,No,No,No,No,No

# The equivalent SQL is

*SELECT * FROM temperature WHERE temperaturemin < 8;*

![SELECT * FROM temperature WHERE temperaturemin < 8;](images/SQL_WHERE.jpg "SELECT * FROM temperature WHERE temperaturemin < 8;")

In [47]:
# Get the row which has the maximum temperaturemin
temp_df[temp_df.temperaturemin == temp_df.temperaturemin.max()]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
3359,2010-07-25,80.1,102.0,0.0,0.0,0.0,8.95,240.0,19.91,230.0,...,No,No,No,No,No,No,No,No,No,No

In [49]:
# Or Equivalently
# Get the row which has the maximum temperaturemin
temp_df[temp_df['temperaturemin'] == temp_df['temperaturemin'].max()]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
3359,2010-07-25,80.1,102.0,0.0,0.0,0.0,8.95,240.0,19.91,230.0,...,No,No,No,No,No,No,No,No,No,No

# The equivalent SQL is

*SELECT * FROM temperature 
 WHERE temperaturemin = (SELECT MAX(temperaturemin) FROM temperature);*

![SELECT * FROM temperature 
 WHERE temperaturemin = (SELECT MAX(temperaturemin) FROM temperature);](images/SQL_WHERE1.jpg "SELECT * FROM temperature 
 WHERE temperaturemin = (SELECT MAX(temperaturemin) FROM temperature);")

In [53]:
# Get the row which has the maximum temperaturemin and select only specific columns
temp_df[['date_recorded','temperaturemin','temperaturemax']][temp_df.temperaturemin == temp_df.temperaturemin.max()]

     date_recorded  temperaturemin  temperaturemax
3359    2010-07-25            80.1           102.0

# The equivalent SQL is

*SELECT * FROM temperature 
 WHERE temperaturemin = (SELECT MAX(temperaturemin) FROM temperature);*

![SELECT date_recorded,temperaturemin,temperaturemax FROM temperature 
 WHERE temperaturemin = (SELECT MAX(temperaturemin) FROM temperature);](images/SQL_WHERE2.jpg "SELECT date_recorded,temperaturemin,temperaturemax FROM temperature 
 WHERE temperaturemin = (SELECT MAX(temperaturemin) FROM temperature);")

In [69]:
# and operator in where condition
temp_df[(temp_df.temperaturemin == 72) & (temp_df.rain == "Yes") ]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
88,2008-08-26,72.0,81.0,0.07,0.0,0.0,5.82,80.0,14.99,90.0,...,No,No,No,No,No,No,Yes,No,No,No
156,2009-07-29,72.0,91.9,0.28,0.0,0.0,10.29,230.0,31.09,240.0,...,No,No,No,No,Yes,No,No,No,No,No
159,2009-08-05,72.0,96.1,0.18,0.0,0.0,5.82,230.0,17.90,230.0,...,No,No,No,No,Yes,No,Yes,No,No,No
221,2010-06-06,72.0,93.0,0.18,0.0,0.0,10.29,230.0,21.92,230.0,...,No,No,No,No,Yes,No,Yes,No,No,No
222,2010-06-13,72.0,96.1,1.23,0.0,0.0,5.59,250.0,23.04,240.0,...,No,No,No,Yes,Yes,No,Yes,No,No,No
442,2011-09-05,72.0,86.0,0.12,0.0,0.0,8.28,190.0,16.11,170.0,...,No,No,No,No,No,No,No,No,No,No
507,2012-07-23,72.0,96.1,0.11,0.0,0.0,5.14,230.0,17.90,240.0,...,No,No,No,No,Yes,No,No,No,No,No
515,2012-09-02,72.0,88.0,1.85,0.0,0.0,3.58,340.0,17.00,340.0,...,No,No,No,No,Yes,No,No,No,No,No
1110,2010-07-09,72.0,95.0,0.40,0.0,0.0,3.58,230.0,36.01,230.0,...,No,No,No,No,Yes,Yes,Yes,No,No,No
1115,2010-08-23,72.0,89.1,0.00,0.0,0.0,4.25,100.0,16.11,70.0,...,No,No,No,No,No,No,No,No,No,No
1493,2007-07-20,72.0,88.0,0.00,0.0,0.0,5.82,360.0,14.09,360.0,...,No,No,No,No,No,No,No,No,No,No
1495,2007-08-05,72.0,98.1,0.03,0.0,0.0,3.80,140.0,12.97,140.0,...,No,No,No,Yes,No,No,No,No,No,No
1621,2012-08-02,72.0,93.0,0.05,0.0,0.0,5.82,180.0,23.94,170.0,...,No,No,No,No,Yes,No,No,No,No,No
1967,2010-05-03,72.0,78.1,0.00,0.0,0.0,11.41,230.0,21.03,220.0,...,No,No,No,No,No,No,Yes,No,No,No
1974,2010-06-15,72.0,93.9,0.01,0.0,0.0,2.46,230.0,14.99,220.0,...,No,No,No,No,Yes,No,Yes,No,No,No
1978,2010-07-13,72.0,93.0,0.38,0.0,0.0,7.16,240.0,16.11,310.0,...,No,No,No,Yes,Yes,No,Yes,No,Yes,No
2410,2007-07-10,72.0,95.0,0.11,0.0,0.0,5.82,240.0,19.91,230.0,...,No,No,No,Yes,Yes,No,No,No,No,No
2531,2009-07-23,72.0,93.0,0.00,0.0,0.0,5.59,210.0,14.99,200.0,...,No,No,No,No,Yes,No,Yes,No,No,No
2654,2012-07-13,72.0,88.0,0.00,0.0,0.0,3.80,150.0,10.07,NaN,...,No,No,No,No,No,No,No,No,No,No
2657,2012-08-11,72.0,88.0,0.40,0.0,0.0,6.93,220.0,19.91,110.0,...,No,No,No,No,No,No,No,No,No,No
3235,2007-07-30,72.0,88.0,0.13,0.0,0.0,5.59,100.0,23.94,100.0,...,No,No,No,Yes,Yes,No,No,No,No,No
3358,2010-07-17,72.0,88.0,0.18,0.0,0.0,8.05,300.0,21.03,320.0,...,No,No,No,No,Yes,No,Yes,No,No,No
3443,2012-05-28,72.0,90.0,0.00,0.0,0.0,4.70,200.0,23.04,200.0,...,No,No,No,No,No,No,No,No,No,No
3456,2012-08-01,72.0,90.0,0.03,0.0,0.0,1.79,80.0,21.03,80.0,...,No,No,No,No,Yes,No,No,No,No,No
3459,2012-08-10,72.0,87.1,0.13,0.0,0.0,8.95,220.0,21.92,240.0,...,Yes,No,No,No,Yes,No,No,No,No,No
3467,2012-09-06,72.0,90.0,0.55,0.0,0.0,7.16,230.0,16.11,240.0,...,No,No,No,No,Yes,No,No,No,No,No
3811,2008-07-11,72.0,87.1,0.03,0.0,0.0,3.58,90.0,14.09,30.0,...,No,No,No,Yes,No,No,Yes,No,Yes,No
3815,2008-07-27,72.0,91.0,0.09,0.0,0.0,6.71,230.0,25.95,240.0,...,No,No,No,Yes,Yes,No,Yes,No,Yes,No
3822,2008-08-28,72.0,89.1,0.21,0.0,0.0,3.13,150.0,12.97,10.0,...,No,No,No,Yes,Yes,No,No,No,Yes,No
3957,2010-07-14,72.0,91.9,0.23,0.0,0.0,3.36,30.0,12.08,40.0,...,No,No,No,No,No,No,Yes,No,No,No
3960,2010-07-27,72.0,82.9,0.32,0.0,0.0,5.14,150.0,12.97,160.0,...,No,No,No,No,Yes,No,Yes,No,No,No
4031,2011-06-10,72.0,96.1,0.00,0.0,0.0,7.38,140.0,12.97,80.0,...,No,No,No,No,Yes,No,No,No,No,No
4032,2011-06-24,72.0,96.1,0.02,0.0,0.0,11.41,230.0,21.92,240.0,...,No,No,No,No,No,No,No,No,No,No
4034,2011-06-28,72.0,99.0,0.29,0.0,0.0,8.05,240.0,25.05,80.0,...,No,No,No,No,Yes,No,No,No,No,No
4036,2011-07-03,72.0,97.0,0.00,0.0,0.0,8.50,230.0,16.11,210.0,...,No,No,No,No,Yes,No,No,No,No,No
4046,2011-08-27,72.0,78.1,0.54,0.0,0.0,13.65,20.0,23.04,330.0,...,No,No,No,No,No,No,No,No,No,No
4120,2012-07-22,72.0,88.0,1.10,0.0,0.0,2.01,90.0,10.07,90.0,...,No,No,No,No,Yes,No,No,No,No,No
4523,2007-08-26,72.0,98.1,0.06,0.0,0.0,6.04,10.0,21.03,10.0,...,No,No,No,No,Yes,No,No,No,No,No

# The equivalent SQL is

*SELECT * FROM temperature WHERE temperaturemin = 72 AND rain = 'Yes';*

![SELECT * FROM temperature
WHERE temperaturemin = 72 AND rain = 'Yes';](images/SQL_WHERE3.jpg "SELECT * FROM temperature
WHERE temperaturemin = 72 AND rain = 'Yes';")

In [71]:
# or operator in where condition
temp_df[(temp_df.temperaturemin == 72) | (temp_df.rain == "Yes") ]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-06,50.0,71.1,0.13,0.0,0.0,8.05,230.0,17.90,230.0,...,No,No,No,No,No,No,No,No,No,No
9,2007-03-11,39.9,70.0,0.00,0.0,0.0,5.14,30.0,16.11,30.0,...,No,No,No,No,No,No,No,No,No,No
12,2007-04-11,46.0,59.0,0.73,0.0,0.0,6.49,140.0,17.90,150.0,...,Yes,No,No,Yes,Yes,No,No,No,No,No
14,2007-04-19,44.1,57.9,0.04,0.0,0.0,4.47,90.0,12.97,90.0,...,No,No,No,No,No,No,No,No,No,No
18,2007-06-02,66.0,82.9,0.13,0.0,0.0,7.38,100.0,14.09,90.0,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4529,2007-12-26,35.1,43.0,0.91,0.0,0.0,6.93,20.0,17.90,20.0,...,No,No,No,No,No,No,No,No,No,No
4530,2007-12-28,36.0,64.0,0.04,0.0,0.0,6.04,210.0,21.03,200.0,...,No,No,No,Yes,No,No,No,No,No,No
4536,2008-02-25,35.1,61.0,0.01,0.0,0.0,4.25,240.0,12.08,240.0,...,Yes,No,No,Yes,No,No,No,No,No,No
4539,2008-04-28,55.9,71.1,0.68,0.0,0.0,8.72,230.0,29.08,230.0,...,No,No,No,Yes,Yes,No,Yes,No,No,No
4541,2008-05-12,51.1,64.0,0.01,0.0,0.0,8.05,300.0,19.91,310.0,...,No,No,No,No,No,No,Yes,No,No,No

# The equivalent SQL is

*SELECT * FROM temperature WHERE temperaturemin = 72 OR rain = 'Yes';*

![SELECT * FROM temperature
WHERE temperaturemin = 72 OR rain = 'Yes';](images/SQL_WHERE4.jpg "SELECT * FROM temperature
WHERE temperaturemin = 72 OR rain = 'Yes';")

# The first column of the data frame is the index, which is like a hash map


![Row Index](images/panda_dataframe_index.png "Row Index")

In [56]:
#Index can be used to fetch a row
temp_df.loc[[1,2,4696]]

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
1,2007-01-14,50.0,73.9,0.0,0.0,0.0,8.50,230.0,21.03,230.0,...,No,No,No,No,No,No,No,No,No,No
2,2007-01-20,26.1,48.0,0.0,0.0,0.0,4.92,290.0,16.11,320.0,...,No,No,No,No,No,No,No,No,No,No
4696,2017-11-24,26.2,57.0,0.0,0.0,0.0,1.57,50.0,8.95,50.0,...,No,No,No,No,No,No,No,No,No,No

In [58]:
temp_df.index # which is a range which starts with 0 and ends with 4701 (exclusive) and increments by 1

RangeIndex(start=0, stop=4701, step=1)

In [59]:
#To change the index to data_recorded

temp_df.set_index('date_recorded', inplace = True) # The parameter inplace = True saves the change to the data set

In [60]:
temp_df #Index got chsanged

,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,fastest5secwindspeed,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
date_recorded,,,,,,,,,,,,,,,,,,,,,
2007-01-06,50.0,71.1,0.13,0.0,0.0,8.05,230.0,17.90,230.0,21.92,...,No,No,No,No,No,No,No,No,No,No
2007-01-14,50.0,73.9,0.00,0.0,0.0,8.50,230.0,21.03,230.0,25.05,...,No,No,No,No,No,No,No,No,No,No
2007-01-20,26.1,48.0,0.00,0.0,0.0,4.92,290.0,16.11,320.0,21.03,...,No,No,No,No,No,No,No,No,No,No
2007-01-24,30.0,48.9,0.00,0.0,0.0,2.91,50.0,14.09,50.0,17.00,...,No,No,No,No,No,No,No,No,No,No
2007-01-30,24.1,48.9,0.00,0.0,0.0,5.82,220.0,17.90,220.0,21.03,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-24,26.2,57.0,0.00,0.0,0.0,1.57,50.0,8.95,50.0,12.08,...,No,No,No,No,No,No,No,No,No,No
2017-11-26,33.1,62.1,0.00,0.0,0.0,2.91,280.0,12.08,330.0,18.12,...,No,No,No,No,No,No,No,No,No,No
2017-12-01,41.0,63.0,0.00,0.0,0.0,5.14,50.0,14.99,50.0,19.91,...,No,No,No,No,No,No,No,No,No,No
2017-12-03,42.1,64.0,0.00,0.0,0.0,2.46,50.0,8.95,30.0,12.08,...,No,No,No,No,No,No,No,No,No,No
2017-12-12,30.2,53.1,0.00,0.0,0.0,9.62,280.0,18.12,330.0,29.97,...,No,No,No,No,No,No,No,No,No,No

In [64]:
#Fetching the rows by index
temp_df.loc[['2007-01-14','2017-12-01']]

,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,fastest5secwindspeed,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
date_recorded,,,,,,,,,,,,,,,,,,,,,
2007-01-14,50.0,73.9,0.0,0.0,0.0,8.50,230.0,21.03,230.0,25.05,...,No,No,No,No,No,No,No,No,No,No
2017-12-01,41.0,63.0,0.0,0.0,0.0,5.14,50.0,14.99,50.0,19.91,...,No,No,No,No,No,No,No,No,No,No

In [66]:
# To reset the index
temp_df.reset_index(inplace = True)

In [67]:
temp_df

,date_recorded,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-06,50.0,71.1,0.13,0.0,0.0,8.05,230.0,17.90,230.0,...,No,No,No,No,No,No,No,No,No,No
1,2007-01-14,50.0,73.9,0.00,0.0,0.0,8.50,230.0,21.03,230.0,...,No,No,No,No,No,No,No,No,No,No
2,2007-01-20,26.1,48.0,0.00,0.0,0.0,4.92,290.0,16.11,320.0,...,No,No,No,No,No,No,No,No,No,No
3,2007-01-24,30.0,48.9,0.00,0.0,0.0,2.91,50.0,14.09,50.0,...,No,No,No,No,No,No,No,No,No,No
4,2007-01-30,24.1,48.9,0.00,0.0,0.0,5.82,220.0,17.90,220.0,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,2017-11-24,26.2,57.0,0.00,0.0,0.0,1.57,50.0,8.95,50.0,...,No,No,No,No,No,No,No,No,No,No
4697,2017-11-26,33.1,62.1,0.00,0.0,0.0,2.91,280.0,12.08,330.0,...,No,No,No,No,No,No,No,No,No,No
4698,2017-12-01,41.0,63.0,0.00,0.0,0.0,5.14,50.0,14.99,50.0,...,No,No,No,No,No,No,No,No,No,No
4699,2017-12-03,42.1,64.0,0.00,0.0,0.0,2.46,50.0,8.95,30.0,...,No,No,No,No,No,No,No,No,No,No
4700,2017-12-12,30.2,53.1,0.00,0.0,0.0,9.62,280.0,18.12,330.0,...,No,No,No,No,No,No,No,No,No,No